* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  border-bottom: 10px solid #c7c1c1;
  padding: 15px;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

.owner {
  font-family: "Oxygen", sans-serif;
  font-size: 3rem;
}

.book-svg {
  max-height: 100%;
  padding-right: 50%;
}

.trademark {
  font-size: 2rem;
  font-family: "David Libre", serif;
  justify-self: flex-end;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  margin-top: 10%;
}

.addBook {
  width: 70%;
  border: 1px solid black;
  max-width: 100%;
  max-height: 100%;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  height: auto;
}

form > p {
  max-height: 30%;
}
