* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

nav {
  display: flex;
  border-bottom: 10px solid #c7c1c1;
  padding: 15px;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

.owner {
  font-family: "Oxygen", sans-serif;
  font-size: 3rem;
}

.book-svg {
  max-height: 100%;
  padding-right: 50%;
}

.trademark {
  font-size: 2rem;
  font-family: "David Libre", serif;
  justify-self: flex-end;
}

main {
    margin-bottom: 20%;
    background-color: red;
    width: 100vw;
    height: 30vh;
}
